<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/fasih.mohammad.7?mibextid=rS40aB7S9Ucbxw6v" target="_blank"> <i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/fmk_0007/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/fasih-mohammad-210156229?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div>&copy;WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="https://www.termsfeed.com/live/5d67a702-eca9-45af-b32a-80cd4861b70d">Privacy Terms</a>
        </div>
    </div>
</footer>