<style>
  .btn-search {
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }

  .btn-search i {
    display: inline;
  }

  .search-input {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    margin-left: 16rem ;
  }
  @media (max-width: 991px) {
    .search-input {
      width: 100%;
      margin-left: 0;
    }

    .btn-search {
      margin-left: 0;
      width: 100%;
      margin-top: 0.5rem;
    }

    .navbar-nav {
      flex-direction: column;
      text-align: center;
    }

    .menu-button-container {
      display: block;
    }

    #menu-toggle:checked + .menu-button-container + .menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 10px;
      background-color: white;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      z-index: 10;
    }

    .menu li {
      padding: 10px;
      text-align: left;
    }
  }

  @media (max-width: 576px) {
    .search-input {
      font-size: 0.9rem;
      padding: 0.4rem 0.8rem;
    }

    .btn-search {
      font-size: 0.9rem;
      padding: 0.3rem 0.8rem;
    }
  }
</style>

<nav class="navbar navbar-expand-md  bg-body-light border-bottom sticky-top">
  <div class="container-fluid nav-div">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"> 
        <span class="navbar-toggler-icon"></span>
      </button> -->
    <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> -->
    <div class="navbar-nav">
      <a class="nav-link explore" href="/listings">Explore</a>

    </div>
    <div class="navbar-nav ms-auto">
      <form class="d-flex" role="search" method="get" action="/results">
        <input class="form-control me-2 search-input" type="text" name="search" id="search"
          placeholder="Search Destinations">
        <button class="btn btn-search" type="submit" id="search-btn"><i
            class="fa-solid fa-magnifying-glass"></i></button>
        <button class="btn btn-search" type="submit" id="or-search"><i
            class="fa-solid fa-magnifying-glass"></i>&nbsp;&nbsp;&nbsp;&nbsp;Search</button>
      </form>
    </div>
    <div class="navbar-nav ms-auto">

      <% if(!currUser){ %>
        <div class="short">
          <a href="/signup"><img class="signimg" src="images/add-user.png" alt=""></a>
          <a class="nav-link signt" href="/signup"><b>Sign up</b></a>

          <a href="/login"><img class="logimg" src="images/user-interface.png" alt=""></a>
          <a class="nav-link logint" href="/login"><b>Login</b></a>
        </div>
        <% } %>
          <% if(currUser) {%>
            <!-- <img class="ham" src="images/more.png" alt=""> -->
            <input id="menu-toggle" type="checkbox" />
            <label class='menu-button-container' for="menu-toggle">
              <div class='menu-button'></div>
            </label>
            <ul class="menu">
              <li><a  href="/listings/new">Airbnb your Home</a></li>
              <li><a  href="/logout">Logout</a></li>
              <li><a  href="/profile">Profile</a></li>
            </ul>
            <a class="nav-link create" href="/listings/new">Airbnb your Home</a>
            <a class="nav-link log-out" href="/logout">Logout</a>
            <% } %>
      <% if(currUser) { %>
    
<% } %>
    </div>
    <!-- </div> -->
  </div>
</nav>