<% layout("/layouts/boilerplate") %>

    <style>
        
        @media screen and (max-width:991px) {
            .listing-link {
            flex: 1 1 calc(50% - 1rem); /* 2 cards per row for tablets */
            max-width: calc(50% - 1rem);
        }

        .card-img-top {
            height: 12rem; /* Adjust image height for smaller screens */
        }

        .card-text {
            font-size: 0.9rem;
        }
        }
        @media screen and (max-width: 576px) {
        .listing-link {
            flex: 1 1 100%; /* 1 card per row for small devices */
            max-width: 100%;
        }

        .card-img-top {
            height: 10rem;
        }

        .card-body {
            padding: 0.75rem;
        }

        .card-text {
            font-size: 0.85rem;
        }
    }

        @media screen and (max-width:400) {
            .list-card{
                padding-right: 0 !important;
                padding-left: 0 !important;
            }

        .listing-card {
            border-radius: 0.25rem;
        }

        .card-img-top {
            height: 8rem;
        }

        .card-text {
            font-size: 0.8rem;
        }
        }
    </style>
    <body>  
<hr class="line">
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 list-card">
            <% for(let listing of allListings){ %>
                <a href="/listings/<%= listing._id %>" class="listing-link">
                    <div class="card col listing-card">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="Listing Image"
                            style="height: 20rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listing.title %>
                                </b> <br>
                                Price: &#8377;<%= listing.price.toLocaleString("en-IN") %> / Night
                            </p>
                        </div>
                    </div>
                </a>
                <%}%>
        </div>
    </body>