body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    flex-shrink: 0;
}

.container {
    flex: 1 0 auto;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials {
    width: 100%;
    vertical-align: middle;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.h3m {
    margin: 1rem;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
    color: black;
    
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.3;
    background-color: white;
}

.show-img {
    height: 35vh !important;
    /* width: 30vw !important; */
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.show-h {
    padding: 0 !important;
}

.show-edit {
    margin-left: 19.8rem !important;
    background-color: #fe424d !important;
    color: white !important;
    opacity: 1;
}
.show-edit:hover{
    opacity: 0.9;
    cursor: pointer;
}

#map {
    height: 180px;
}

.logimg{
    width: 1.5rem;
}
.signimg{
    width: 1.5rem;
}
.short{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#search-btn{
    display: none;
}

@media screen and (max-width:768px){
    .explore , .logint , .signt{
        display: none !important;
    }
    .tax{
        width:  50%;
        margin: 0 20% 1rem  20%;
    }
    .tax-box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
}

@media screen and (min-width:768px){
    .logimg , .signimg{
        display: none;
    }
}    

@media screen and (max-width:545px){
    #search{
        width: 9rem;
        height: 2rem;
        padding: 0.5rem 2.7rem 0.5rem 2.7rem;
    }
    #or-search{
        display: none;
    }
    #search-btn{
        display: flex;
        width: 2rem;
        height: 2rem;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
   .container{
    --bs-gutter-x: 0 !important;
   }
}

@media screen and (max-width:576px){
    .listing-card{
        margin: 0 1.5rem 1rem 1.5rem;
    }
    .tax{
        width: 80%;

    }
    .tax-box{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin: 0  auto;
    }
    .tax-box label{
        font-size: .9rem !important;
    }
}



