body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    flex-shrink: 0;
}

.container {
    flex: 1 0 auto;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials {
    width: 100%;
    vertical-align: middle;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.h3m {
    margin: 1rem;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
    color: black;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.3;
    background-color: white;
}

.show-img {
    height: 35vh !important;
    /* width: 30vw !important; */
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.show-h {
    padding: 0 !important;
}

.show-edit {
    margin-left: 19.8rem !important;
    background-color: #fe424d !important;
    color: white !important;
    opacity: 1;
}
.show-edit:hover{
    opacity: 0.9;
    cursor: pointer;
}

#map {
    height: 180px;
}